name: Detekt

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  detekt:
    name: Run Detekt
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Run Detekt
        run: ./gradlew detektAll

      - name: Upload merged Detekt report
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: detekt-merged-sarif
          path: build/reports/detekt/merged.sarif
          if-no-files-found: warn
